*{
    margin : 0 ;
    padding : 0;
}

/*common style between Dash*/
.divDash{
    margin : 2%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.16);
    
}

/*Dashboard css*/

.DashBoard{
    display: grid ;
    grid-template-columns: 15% auto;
    grid-template-rows: 10% auto ;
    height: 100vh;
    max-height: 100vh;
}

.LeftDr{
    color:  white;
    height: 100%;
    width: 100%;
    grid-row: 1 /span 2;
    grid-column:  1;
    background: #5B5B5B;
    box-shadow: 0 0 20 #5B5B5B;

}

.TopDraw{
    width: 100%;
    height: 100%;
    grid-row: 1 ;
    grid-column:  2;
    color: #505050;
    background:  #D4D4D4;
}

.mainContainer{
    width: 100%;
    height: 100%;
    grid-row: 2 ;
    grid-column:  2;
}


/*ThessDash Css*/
.divThese{
    height: 92%;
    display: grid ;
    grid-template-columns: 80% auto;
}

.LeftForm{
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: space-around ;
    margin-left: 10%;
    margin-right: 10%;
}

 input ,textarea {
     width: 80%;
    color: #484848;
    background: #F2F2F2;
    border: none;
    border-radius: 2px;
    height: 3vh;
    font-size: 100%;
    padding : 2%;
    font-weight: bolder;
}

textarea{
    height: 5vh;
    width: 100%;
}

.LeftForm h2 , label{
    height: 3vh;
    text-align: left;
}

.RightSide{
    height: 100%;
    display: grid ;
    grid-template-rows: auto 20%;

}

.RightSide button {
    padding: 20px;
    background: linear-gradient(269deg, #ff8800, #f8d50f);
    background-size: 400% 400%;
    animation: GradientAnim 3s ease infinite;
    margin : auto;

}

#stateDate{
    color: rgb(151, 151, 151);
    font-weight: bolder;
    margin: auto ;
}

/*EnsDash Css*/
.divEns{
    height: 92%;
    display: grid;
    grid-template-rows: 10% auto; 
    color: rgb(98, 98, 98);  
}

.header{
    height: 70%;
    display: grid ;
    grid-template-columns: auto 10%;
    margin :2%;
    vertical-align: middle;

}
.EnsSelection{
    margin: auto;
}


.EnsSelection input{
    margin: auto;
}


.EnsSelection button{
    margin: auto;
}

.EnsCard{
    display: grid ;
    grid-template-rows: 40% 60%;
}

.PersonalInfo{
    display: grid ;
    grid-template-columns: 20% auto; 
    margin: auto;
    width: 100%;
}

.PersonalInfo img{
    height: 70%;
    width: 70%;
    color : #B7B7B7;
    margin: auto;
}
.infoHolder{
    display:flex;
    width: 100%;
    height: 100%;
}

.ProfessionInfo{
    display : flex;
    margin: auto;

}
/* info style */
.infoItem{ 
    display: inline-block;
    margin: 1%;
    min-width: 30%;
    max-width: 32%;
}
.infoItem section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.infoItem section form {
    width: 100%;
}

/*Module Style*/

.Modul{
    height: 100% ;
    background: white ;
    box-shadow: 0 0 20 rgba(0, 0, 0, 0.16);
}