*{
    margin : 0 ;
    padding : 0;
}


.divDash{
    width: 98%;
    height: 98%;
    margin : auto;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.16);
    
}
.divThese{

}

.divEns{
    
}