*{
    margin : 0 ;
    padding : 0;
}

/*common style between Dash*/
.divDash{
    margin : 2%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.16);
    
}

/*Dashboard css*/

.DashBoard{
    display: grid ;
    grid-template-columns: 15% auto;
    grid-template-rows: 10% auto ;
    height: 100vh;
    max-height: 100vh;
}

.LeftDr{
    color:  white;
    height: 100%;
    width: 100%;
    grid-row: 1 /span 2;
    grid-column:  1;
    background: #5B5B5B;
    display: grid;
    grid-template-rows: 10% 15% auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
}
.LeftDr img {
    width: 10vh;
    margin: auto;
}
.LeftDr h2 {
    width: 100%;
    height: 100%;
    text-align: left;
    margin: 10%;
    font-size: 3vh;
    
}
.LinksContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    height: 90%;
}

.LinksContainer *{
    padding: 15%;
    text-align: left;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2vh;
    transition: 0.1s ease-in-out ;
}

.LinksContainer *:hover {
   background: #484848;

}
.TopDraw{
    width: 100%;
    height: 100%;
    grid-row: 1 ;
    grid-column:  2;
    color: #505050;
    background:  #D4D4D4;
    display : flex;
    flex-direction: row-reverse;
}

.TopDraw h2{

    width : 75%;
    text-align: left;
    margin: auto;

}
.infoLogin{
    width: 30vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    background: linear-gradient(269deg, #ff8800, #f8d50f);
    animation: GradientAnim 1s ease infinite;
}
.infoLogin button{
    font-weight: lighter;
    box-shadow: none;
}
.mainContainer{
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column:  2 ;
}

@-webkit-keyframes GradientAnim {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}
@-moz-keyframes GradientAnim {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}
@-o-keyframes GradientAnim {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}
@keyframes GradientAnim {
    0%{background-position:67% 0%}
    50%{background-position:34% 100%}
    100%{background-position:67% 0%}
}

/*ThessDash Css*/
.divThese{
    height: 92%;
    display: grid ;
    grid-template-columns: 80% auto;
}

.LeftForm{
    height: 100%;
    display: flex ;
    flex-direction: column;
    justify-content: space-around ;
    margin-left: 10%;
    margin-right: 10%;
}

 input ,textarea {
     width: 80%;
    color: #484848;
    background: #F2F2F2;
    border: none;
    border-radius: 2px;
    height: 3vh;
    font-size: 100%;
    padding : 2%;
    font-weight: bolder;
}

textarea{
    height: 5vh;
    width: 100%;
}

.LeftForm h2 , label{
    height: 3vh;
    text-align: left;
}

.RightSide{
    height: 100%;
    display: grid ;
    grid-template-rows: auto 20%;

}


.RightSide button {
    padding: 20px;
    background: linear-gradient(269deg, #ff8800, #f8d50f);
    background-size: 400% 400%;
    animation: GradientAnim 3s ease infinite;
    margin : auto;

}

#stateDate{
    color: rgb(151, 151, 151);
    font-weight: bolder;
    margin: auto ;
}

/*EnsDash Css*/
.divEns{
    height: 92%;
    display: grid;
    grid-template-rows: 10% auto; 
    color: rgb(98, 98, 98);  
}

.header{
    height: 70%;
    display: grid ;
    grid-template-columns: auto 10%;
    margin :2%;
    vertical-align: middle;

}
.EnsSelection{
    margin: auto;
}


.EnsSelection input{
    margin: auto;
}


.EnsSelection button{
    margin: auto;
}

.EnsCard{
    display: grid ;
    grid-template-rows: 40% 60%;
}

.PersonalInfo{
    display: grid ;
    grid-template-columns: 20% auto; 
    margin: auto;
    width: 100%;
}

.PersonalInfo img{
    height: 70%;
    width: 70%;
    color : #B7B7B7;
    margin: auto;
}
.infoHolder{
    display:flex;
    width: 100%;
    height: 100%;
}

/* info style */
.infoItem{ 
    display: inline-block;
    margin: 1%;
    min-width: 30%;
    max-width: 32%;
}
.infoItem section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.infoItem section form {
    width: 100%;
}

/*Module Style*/


.ProfessionInfo{
    display : grid;
    grid-template-rows: 2;
    grid-template-columns: 2;
    margin: 2%;
    height: 90%;
    width: 90%;

}

.ProfessionInfo * {
    width: 100%;
    margin-right :auto;
}


#Grade {
    grid-row: 1;
    grid-column: 1;
}

#DateRec {
    grid-row: 2;
    grid-column: 1;
}

#Postes {
    grid-row: 1;
    grid-column: 2;
}
#Modules{
    grid-row: 2;
    grid-column: 2;
}

#Modules{
    display: inline-block;
    background: #F2F2F2 ;
    border-radius: 5px;
    height: 50%;

}

.Modul{
    display: grid ;
    grid-template-rows: 50% auto;
    margin: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: white ;
    height: 80%;
    width: max-content;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}

